html {
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#village-2 {
    position: absolute;
    height: 330px;
    width: 570px;
    top: 330px;
    left: 25%;
}

#village {
    opacity: 0.9;
    margin-top: -400px;
    height: 400px;
    width: 570px;
    position: relative;
    z-index: 5;
}

.current {
    font-size: 60px;
    width: 100%;
    text-align: center;
}

#game-over {
    width: 60%;
    margin: 0 auto;
    height: 700px;
    display: none;
}

#game-container {
    position: absolute;
    margin-left: -288px;
    left: 50%;
    display: none;
}

#start-container {
    margin: 0 auto;
    height: 700px;
    width: 50%;
    position: relative;
    display: block;
}

#instructions {
    position: absolute;
    top: 70%;
    width: 60%;
    height: 300px;
    z-index: 4;
    font-size: 30px;
    visibility: hidden;
}

#george-profile {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 200px;
}

.george-img {
    width: 180px;
    height: 200px;
    background-image: url("../images/george.png");
    background-size: contain;
    display: inline-block;
}

.george-name {
    top: 0;
    position: absolute;
    display: inline-block;
    height: 200px;
}

.george-name .george {
    font-size: 100px;
    letter-spacing: 3px;
    -webkit-animation-delay: 0.5s;
    color: #3D9970;
}

.george-name .the-game {
    font-size: 50px;
    letter-spacing: 3px;
    position: absolute;
    bottom: 0;
    -webkit-animation-delay: 1s;
}

.start-button {
    display: inline-block;
    background-image: url("../images/start.png");
    background-size: contain;
    height: 100px;
    width: 55px;
    right: 0;
    bottom: 0;
    position: absolute;
    -webkit-animation-delay: 1.5s;
}

.active-start {
    display: inline-block;
    background-image: url("../images/start.png");
    background-size: contain;
    height: 100px;
    width: 55px;
    right: 0;
    bottom: 0;
    position: absolute;
    -webkit-animation-delay: 0s;
}

#pause {
    width: 50px;
    height: 50px;
    background-image: url("../images/pause.png");
    background-size: cover;
    display: inline-block;
    float: right;
    position: relative;
    z-index: 3;
    display: none;
}

#pause-screen {
    width: 570px;
    height: 570px;
}

#health {
    width: 40px;
    height:200px;
    float: left;
    position: absolute;
    left: -40px;
}

#stores {
    position: absolute;
    top: 80px;
    left: 400px;
    font-size: 20px;
    z-index: 10;
}

#store-img {
    width: 22px;
    height: 20px;
    background-image: url("../images/store.png");
    background-size: cover;
    display: inline-block;
    float: left;
}

.store-block {
    width: 9.2px;
    display: inline-block;
    height: 17px;
    background-color: #3D9970;
}

#store-bar {
    width: 138px;
    margin-left: 10px;
    height: 20px;
    border: 3px solid black;
    border-bottom: 0;
    display: inline-block;
    float: right;
    background-color: white;
}

.store {
    width:40px;
    height:40px;
    display: inline-block;
}

.heart {
    display: inline-block;
    width:40px;
    margin-right: 5px;
    height: 40px;
    background-image: url("../images/heart.png");
    background-size: contain;
}

#title-card {
    background-color: white;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    height: 100px;
    position: relative;
    z-index: 7;
}

#game-board {
    height: 570px;
    width: 570px;
    border: 3px solid black;
    position: relative;
    background-color: white;
}

.block {
    position: absolute;
    top: -45px;
    background-image: url("../images/log.png");
    background-size: contain;
    height: 50px;
    width: 95px;
    text-align: left;
    line-height: 50px;
    font-size: 20px;
    z-index: 6;
}

.block span {
    margin-left: 32px;
}

.block span.r {
    margin: auto;
}

.block span.highlight {
    margin-left: 32px;
    color: #3D9970;
}

.text {
    position: absolute;
    top: 5%;
    display: inline-block;
    font-size: 150px;
}

.text2 {
    top: 35%;
    position: absolute;
    left: 47%;
    font-size: 40px;
    text-decoration: underline;
}

.text3 {
    top: 45%;
    position: absolute;
    left: 20%;
    font-size: 30px;
}

#game-over .img {
    background-image: url('../images/deadgeorge.png');
    transform: rotate(180deg);
    display: inline-block;
    height: 200px;
    width: 180px;
    background-size: contain;
}

.v1 {
    background-image: url('../images/village/1.png');
    background-size: contain;
    height: 25px;
    width: 25px;
    top: 370px;
    left: 540px;
    position: absolute;
    visibility: hidden;
}

.v2 {
    background-image: url('../images/village/2.png');
    background-size: contain;
    height: 25px;
    width: 25px;
    top: 369px;
    left: 515px;
    position: absolute;
    visibility: hidden;
}

.v3 {
    background-image: url('../images/village/3.png');
    background-size: contain;
    height: 60px;
    width: 130px;
    top: 344px;
    left: 60px;
    position: absolute;
    visibility: hidden;
}

.v4 {
    background-image: url('../images/village/4.png');
    background-size: contain;
    height: 65px;
    width: 40px;
    top: 300px;
    left: 400px;
    position: absolute;
    visibility: hidden;
}

.v5 {
    background-image: url('../images/village/5.png');
    background-size: contain;
    height: 25px;
    width: 25px;
    top: 325px;
    left: 440px;
    position: absolute;
    visibility: hidden;
}

.v6 {
    background-image: url('../images/village/6.png');
    background-size: contain;
    height: 30px;
    width: 40px;
    top: 375px;
    left: 190px;
    position: absolute;
    visibility: hidden;
}

.v7 {
    background-image: url('../images/village/7.png');
    background-size: contain;
    height: 70px;
    width: 70px;
    top: 280px;
    left: 455px;
    position: absolute;
    visibility: hidden;
}

.v8 {
    background-image: url('../images/village/8.png');
    background-size: contain;
    height: 37px;
    width: 40px;
    top: 280px;
    left: 355px;
    position: absolute;
    visibility: hidden;
}

.v9 {
    background-image: url('../images/village/9.png');
    background-size: contain;
    height: 37px;
    width: 35px;
    top: 334px;
    left: 455px;
    position: absolute;
    visibility: hidden;
}

.v10 {
    background-image: url('../images/village/10.png');
    background-size: contain;
    height: 50px;
    width: 55px;
    top: 334px;
    left: 255px;
    position: absolute;
    visibility: hidden;
}

.v11 {
    background-image: url('../images/village/11.png');
    background-size: contain;
    height: 180px;
    width: 320px;
    top: 156px;
    left: 55px;
    position: absolute;
    visibility: hidden;
}

.v12 {
    background-image: url('../images/village/12.png');
    background-size: contain;
    height: 40px;
    width: 40px;
    top: 260px;
    left: 430px;
    position: absolute;
    visibility: hidden;
}

.v13 {
    background-image: url('../images/village/13.png');
    background-size: contain;
    height: 100px;
    width: 100px;
    top: 200px;
    left: 460px;
    position: absolute;
    visibility: hidden;
}

.v14 {
    background-image: url('../images/village/14.png');
    background-size: contain;
    height: 36px;
    width: 42px;
    top: 300px;
    left: 100px;
    position: absolute;
    visibility: hidden;
}

.v15 {
    background-image: url('../images/village/15.png');
    background-size: contain;
    height: 36px;
    width: 42px;
    top: 320px;
    left: 310px;
    position: absolute;
    visibility: hidden;
}

.v16 {
    background-image: url('../images/village/16.png');
    background-size: contain;
    height: 40px;
    width: 30px;
    top: 215px;
    left: 437px;
    position: absolute;
    visibility: hidden;
}

.v17 {
    background-image: url('../images/village/17.png');
    background-size: contain;
    height: 100px;
    width: 120px;
    top: 70px;
    left: 190px;
    position: absolute;
    visibility: hidden;
}

.v18 {
    background-image: url('../images/village/18.png');
    background-size: contain;
    height: 180px;
    width: 320px;
    top: 70px;
    left: 230px;
    position: absolute;
    visibility: hidden;
}
