html {
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #3D9970;
}

#pause {
    width: 50px;
    height: 50px;
    background-image: url("../images/pause.png");
    background-size: cover;
    display: inline-block;
    float: right;
}

#pause-screen {
    width: 570px;
    height: 570px;
}

#health {
    width: 40px;
    height:200px;
    float: left;
    position: absolute;
    left: -40px;
}

#stores {
    position: absolute;
    top: 80px;
    left: 400px;
    font-size: 20px;
}

#store-img {
    width: 22px;
    height: 20px;
    background-image: url("../images/store.png");
    background-size: cover;
    display: inline-block;
    float: left;
}

.store-block {
    width: 6.9px;
    display: inline-block;
    height: 20px;
    background-color: #3D9970;
}

#store-bar {
    width: 138px;
    margin-left: 10px;
    height: 20px;
    border: 3px solid black;
    border-bottom: 0;
    display: inline-block;
    float: right;
    background-color: white;
}

.store {
    width:40px;
    height:40px;
    display: inline-block;
}

.heart {
    display: inline-block;
    width:40px;
    margin-right: 5px;
    height: 40px;
    background-image: url("../images/heart.png");
    background-size: contain;
}

#game-container {
    position: absolute;
    margin-left: -288px;
    left: 50%;
}

#title-card {
    background-color: red;
    height: 100px;
    visibility: hidden;
}

#george-title {
    font-size: 100px;
    letter-spacing: 10px;
    line-height: 110px;
    height: 100%;
    width: 75%;
    float: right;
    border: 1px solid black;
    text-align: center;
}

#game-board {
    height: 570px;
    width: 570px;
    border: 3px solid black;
    position: relative;
    background-color: white;

}

.block {
    position: absolute;
    top: -45px;
    background-image: url("../images/log.png");
    background-size: contain;
    height: 50px;
    width: 95px;
    text-align: left;
    line-height: 50px;
    font-size: 20px;
}

.block span {
    margin-left: 32px;
}

.block span.r {
    margin: auto;
}

.block span.highlight {
    margin-left: 32px;
    color: #3D9970;
}
